/vendor/
/node_modules/
/resources/spa/node_modules/
/resources/dist/
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/build/
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo
*~
.phpstan.cache/
